.produtos-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
