.nota-form-container {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.full-width {
  width: 100%;
}

.itens-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.quantidade {
  width: 100px;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
